<%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
html: {method: :delete}, remote: true) do |f| %>
    <button class="button button--primary button--small button--withChrome is-active">
      Following
    </button>
<% end %>
